* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #07634c;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.iam {
    color: #52f9cf;
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    margin:0 0 0 -14px;
    padding-bottom: 5px;

  
}
.text-animation{
    width: 100vw;
    height: 110px;
    margin-left:27px;

}
.text {
    display: inline-flex;
    color: #3df5dc;
    border-right: 2px solid #52f9cf;
    font-weight: bold;
    font-size: 2.5rem;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    backdrop-filter: blur(5px);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    box-shadow: 0px 0px 50px #05926f;
    z-index: 999;

}

.dummy-nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: fit-content;
    backdrop-filter: blur(5px);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 50px #0b8f6e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.mylogo {
    border-radius: 20px;
    background-color: #2df8c5;
    padding: 0px 10px;
    cursor: pointer;
}

.dark-light {
    width: 90px;
    height: 39.233px;
    border-radius: 20px;
    border: 0px solid;
    background-color: #2df8c5;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.mode {
    font-size: 2rem;
    color: #07634c;
}

.home-head {
    margin-top: 14vh;
    width: 100%;
    display: flex;
    justify-content: center;

}

.home-social {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.img-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
}

.link-box {
    width: fit-content;
    height: fit-content;
    background-color: #2df8c5;
    border-radius: 10px;

}

.social-icon {
    background-color: #02bf91;
    color: #07634c;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    transform: rotate(20deg);
    transition: box-shadow, transform 400ms;
}

.social-icon:hover {
    box-shadow: 5px 5px 5px black;
    transform: rotate(0deg);
}

.home-social-icon {
    margin: 15px 15px 15px 10vw;

}

.nav-a-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #02bf91;
}

.nav-a-icon:hover {
    color: #2df8c5;
    text-shadow: 5px 2px 5px black;
}

.nav-icon {
    font-size: 1.2rem;
    margin: 0px 5px 10px 5px;
    padding: 0px;
}

.nav-p {
    font-size: 0.8rem;
    margin: 0px 5px 0px 5px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.img-background {
    background-color: #2df8c5;
}

.img-background,
.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.profile-img {
    cursor: pointer;
    transform: rotate(10deg);
    transition: box-shadow, transform 400ms;
}

.profile-img:hover {
    box-shadow: 5px 5px 5px black;
    transform: rotate(0deg);

}
.home-description {
    font-size: 1.5rem;
    margin: 10px 0 10px 27px;
    color: #011913;
}

.hire-me-button {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0 10px 27px;
    background-color: #2df8c5;
    text-decoration: none;
    font-size: 1.2rem;
    color: #011913;
}

.hire-text {
    margin-right: 10px;
}

.about-section,
.Skills-section,
.Qualification-section,
.Project-section,
.contact-section {
    width: 100vw;
    height: fit-content;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title,
.skills-title,
.Qualification-title,
.Project-title,
.contact-title {
    color: #2df8c5;
    margin: 60px 10px 10px 10px;
    font-size: 2rem;

}

.about-subtitle,
.Skills-subtitle,
.Qualification-subtitle,
.Project-subtitle,
.contact-subtitle {
    font-size: 1.5rem;
    text-align: center;
    color: #011913;
    margin: 0px 20px;
}

.about-img {
    width: 200px;
    border-radius: 50%;
    margin: 20px 0px 10px 0px;
}

.about-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_description {
    text-align: center;
    font-size: 1.2rem;
    color: #07dea8;
    margin: 0px 20px;
}

.about-buttons {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #011913;
    background-color: #2df8c5;
    font-size: 1.3rem;

}

.skill-box {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.inner-box {
    margin: 10px;
    background-color: #2df8c5;

}

.skill-list {
    display: flex;
    flex-direction: column;

}

.inner-box,
.outer-box {
    width: 5rem;
    height: 5rem;
    border-radius: 20px;
    cursor: pointer;

}

.outer-box {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #084939;
    border-radius: 20px;
    background-color: #02bf91;
    transform: rotate(10deg);
    transition: box-shadow, transform 400ms;
    animation-name: example;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes example {
    form {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.outer-box:hover {
    box-shadow: 5px 5px 5px black;

}

.education {
    color: #2df8c5;
    margin: 10px 0px 10px 0px;
}

.timeline {
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    border-radius: 15px;
    margin: 0px 0;
}

.text-box {
    padding: 0px 30px;
    position: relative;
}

.E-title {
    font-size: 1.2rem;
    color: #07dea8;
}

.E-discription {
    margin: 0 0 10px 0;
    font-size: 1rem;
    color: #011913;
}

.E-time {
    font-size: 1rem;
    color: #000000;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container i {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -33px;
    top: 35px;
    z-index: 10;
    color: #2df8c5;

}

.right-container i {
    display: flex;
    left: -7px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 76%;
    background: #2df8c5;
    top: 50px;
    left: 50%;
    margin-left: 0px;
}

.slider-box {
    width: 100vw;
    height: 80vh;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}

.arrowtag {
    cursor: pointer;
    position: absolute;
    top: 25vw;
    font-size: 1.5rem;
    z-index: 9999999;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5)
}

.arrowtag:hover {
    color: #2df8c5;
}

.left {
    left: 3px;
}

.right {
    right: 3px;
}


#slider {
    width: 100vw;
    display: inline-flex;
    transition: 0.5s;
}

#slider img {
    border-radius: 15%;
    width: 100vw;
    padding: 10px 30px;

}

#slider h2 {
    padding: 5px 30px;
    color: #2df8c5;

}

#slider p {
    font-size: 1.1rem;
    padding: 5px 30px;
    color: #011913;

}

#slider .demo {
    width: 100px;
    height: 50px;
    background: #2df8c5;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 10px 30px;
    text-decoration: none;
    color: #011913;
    cursor: pointer;
}

.indicators {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.indicators span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    margin: 20px 0 0 0;
}

.indicators .active {
    background: #2df8c5;
}

span:hover {
    background: #02bf91;
}

.contacts {
    width: 100vw;
    height: fit-content;
    display: flex;
    margin: 30px 0 0 0;
}

.contact-icon {
    color: #02bf91;
    font-size: 1.5rem;
    margin: 0 27px;
}

.contact-info {
    color: #2df8c5;
    font-size: 1.4rem;
}

.contact-no a {
    color: #011913;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.contact-form {
    margin: 0 27px;
}

.form-info {
    color: #2df8c5;
    font-size: 1.2rem;
    margin: 20px 0;
}

.contact-content {
    width: 80vw;
    height: fit-content;
    display: grid;
    font-weight: bold;
    font-size: 1.2rem;
    color: #2df8c5;
    padding: 5px 0 20px 0;
    background: #084939;
    border-radius: 10px;
    margin: 10px 0;
}

textarea:focus,
input:focus {
    outline: none;
}

textarea,
input {
    background: #084939;
    border: 0px solid;
    font-size: 1.2rem;
    color: white;
    margin-left: 10px;
}

.contact-label {
    margin: 10px;
}

.button-message {
    padding: 15px 15px;
    border: 0px solid;
    background-color: #2df8c5;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.footer-section {
    width: 100vw;
    height: 100%;
    border-radius: 15px;
    background: #084939;
    color: #2df8c5
}

.footer-data {
    font-size: 1.2rem;
    margin: 50px 27px;
}

.footer-subtitle {
    color: rgba(255, 255, 255, 0.8);
}

.footer-end {
    text-align: center;
    margin-bottom: 130px;
}